<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="canonical" href="{{ request.base_url }}">
    <meta name="description" content="Welcome to Aditya's flask app." />
    <meta name="keywords" content='flask, web app, python, aditya raj, adityaprog' />
    <meta property="og:title" content="Aditya's Flask App">
  <meta property="og:description" content="Welcome to Aditya's flask app.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.url }}">
  {% block googlemeta %}
  {% endblock googlemeta %}
    <title>{{ flask_title }}</title>
  </head>
  <body>
    <header>
      <div class="logo">{{ flask_title }}</div>
      <nav class="nav-bar">
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Social links</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>This is in main tag.</h1>
      <p>Everything inside the box below is rendered from python flask.</p>
      <div class="render-content">
        {% block content %} {% endblock content %}
      </div>
    </main>
    <footer>
      <p>This is footer.</p>
    </footer>
  </body>
</html>
