<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-SLGGT90ZGY"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-SLGGT90ZGY");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Welcome to Aditya's flask app." />
    <meta property="og:title" content="Aditya's Flask App" />
    <meta property="og:description" content="Welcome to Aditya's flask app." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.url }}" />
    <link rel="canonical" href="{{ request.base_url }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?ver=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{{ flask_title }}</title>
  </head>
  <body>
    <header>
      <div class="logo"><a href="/">Flask App</a></div>
      <div class="side-menu">
        <button type="button" onclick="toggleMenu()" id="menu-button" class="button">&#9776;</button>
        <div class="menu" id="menu-list">
          <nav class="nav-bar">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/project">Projects</a></li>
              <li><a href="/social">Social links</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main>
      {% block content %} {% endblock content %}
    </main>
    <footer>
      <p>This is footer.</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}?ver=1.0"></script>
  </body>
</html>
